* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #222f3e;
}

.container {
    padding: 80px;
}

header {
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

.navbar {
    padding: 10px;
}

.navbar,
.nav-items,
.nav-end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ededed;
}

.nav-items {
    gap: 20px;
    font-weight: bold;
}

.nav-end {
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
}

.btn {
    background-color: #d35400;
    color: #fff;
    border: none;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
}

.nav-items .nav-item {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

.brandname span {
    font-size: 30px;
}

.text-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.text-middle h5 {
    color: #f1c40f;
    margin-bottom: 30px;
}

.text-middle h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.text-middle p {
    font-size: 18px;
    margin-bottom: 20px;
}

/*  */
#one {
    position: relative;
    bottom: 140px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightblue;
    width: 50px;
    padding: 10px;
    border-radius: 8px;
}

.trait {
    background-color: #e74c3c;
    width: 60px;
    height: 5px;
    margin-top: 15px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    box-shadow: 5px 5px 5px #999;
    width: 300px;
    height: 250px;
    background-color: #fff;
    padding: 25px;
}

.card h4 {
    margin-top: 10px;

}

.card p {
    margin-top: 15px;
}

.card-red {
    background-color: #e74c3c;
    color: #fff;
}

.card-red .trait {
    background-color: #fff;
}

/*  */
.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.img2 {
    position: relative;
    bottom: 80px;
}

.img1 {
    position: absolute;

}

.img10 {
    position: absolute;
    left: 0;
}

.img3 {
    position: absolute;
    left: 300px;
}

.learn-more {
    margin-top: 50px;
    font-weight: bold;
    color: #e74c3c;
}

.fa-chevron-right {
    margin-left: 10px;
}

/* SECTION 3 */
.row3 {
    gap: 40px;
}

/* SECTION 4 */
.cards {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 70px;
}

.card-header {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-header h4 {
    color: #d35400;
}

.card-body h4 {
    color: #222f3e;
}

.blue {
    color: blue;
}

.card-btn {
    border: 1px solid #d35400;
    color: #d35400;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
    width: 120px;
    font-weight: bold;
}

/* SECTION 5 */
#five {
    background-color: #273c75;
}

#five h5 {
    color: #d35400;
}

#five h1 {
    color: #fff;
}

#five p {
    /* color: #ededed; */
}

.cartes {
    display: flex;
    margin-top: 40px;
    gap: 70px;
}

.carte {
    background-color: #fff;
    width: 300px;
    padding: 20px;
}

.carte-img {
    width: 80px;
}

.carte h4 {
    text-transform: uppercase;
    font-size: 20px;
}

.carte p {
    color: #000;
}

.carte .price {
    color: #e74c3c;
    font-size: 24px;
    font-weight: bolder;
}

.carte .duration {
    color: lightblue;
}

.carte .checklist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.carte-btn button {
    background-color: #e74c3c;
    color: #fff;
    border: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

/* SECTION 6 */
.row6 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.testimonial-user-cover {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/* SECTION 7 */
#seven {
    text-align: center;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    width: 400px;
    padding: 10px;
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; */


}

.btn-mail {
    width: 120px;
    padding: 12px;
    background-color: #d35400;
    border: 0;
    color: #fff;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer h4 {
    margin-bottom: 15px;
}

.foot {
    display: flex;
    justify-content: space-around;
    background-color: #ededed;
    padding: 15px;
    gap: 400px;
}

.icon-sociaux {
    /* padding-right: 85px; */
}